body {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    font-family: Roboto, "Times-New-Roman", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display:flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
    padding-bottom: 0px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-logo,
.hero-header {
    padding:0;
    margin: 0;
}

.header-links {
    display:flex;
    justify-content: space-between;
    gap: 40px;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.block-one {
    flex: 1 1 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.block-one-content {
    flex: 1 1 auto;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.hero {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.hero-header {
    font-size: 48px;
    font-weight: 1000;
}

.hero-left,
.hero-right {
    width: 400px;
    height: 200px;
    flex: 1 1 auto;
    max-width: 400px;
    padding: 20px;
}

.hero-left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-button {
    padding: 4px 24px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 6px;
}

.hero-right {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.block-two {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 400px;
}

.block-two-content {
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.block-two-header {
    font-size: 36px;
    font-weight: 1000;
    padding: 20px;
}

.block-two-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.block-2-content {
    display:flex;
    flex-direction: column;
    flex: auto;
    gap: 10px;
}

.block-2-image,
.block-2-text {
    width: 150px;
    flex: 0 0 150px;
}

.block-2-image {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.block-2-text {   
    padding: 0;
    margin:0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.block-3 {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #E5E7EB;
    flex: 1 1 400px;
}

.block-3-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    flex: 0 0 auto;
    padding: 100px;
}

.block-3-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    color: #1F2937;
}

.block-3-author {
    align-self: flex-end;
    padding-right: 50px;
    font-weight: 1000;
}

.block-4 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
}

.block-4-content {
    display:flex;
    padding: 35px 120px;
    margin: 50px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-between;
    gap: 80px;
}

.block-4-left-up,
.block-4-left-down {
    padding: 0;
    margin: 0;
    color: white;
}

.block-4-left-up {
    font-weight: 700;
    font-size: 20px;
}

.block-4-left {
    display:flex;
    flex-direction: column;
}

.block-4-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

.block-4-right button {
    padding: 4px 24px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #E5E7EB;
    box-shadow: none;
    border-radius: 6px;
}

.footer {
    background-color: #1F2937;
    display:flex;
    flex: 0 0 70px;
    color:#E5E7EB;
    justify-content: center;
    align-items: center;
}